<ion-header>
  <ion-toolbar class="toolbar-admin">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Panel Administrativo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-blanco ion-padding">

  <div class="header-bienvenida">
    <div class="saludo">
      <h2>Hola Admin</h2>
      <p>Bienvenido de Vuelta!</p>
    </div>
    <div class="logo-clinica">
      <img src="assets/icon/logo.jpg" alt="Logo" />
    </div>
  </div>

  <hr class="linea-divisoria" />

  <div class="titulo-seccion">
    <ion-icon name="medical" class="icono-medico"></ion-icon>
    <h2>Listado de Veterinarios</h2>
  </div>

  <button class="boton-agregar-moderno ion-activatable">
    <ion-icon name="add-circle-outline"></ion-icon>
    AGREGAR VETERINARIO
    <ion-ripple-effect></ion-ripple-effect>
  </button>

  <div class="contenedor-tarjetas">

    <div class="tarjeta-veterinario">
      <div class="tarjeta-header">
        <h3 class="nombre-principal">Dr Junior Alva</h3>
        <span class="id-badge">ID: 4</span>
      </div>

      <div class="tag-especialidad">
        <span>Neurología</span>
      </div>

      <div class="tarjeta-cuerpo">
        <div class="info-grupo">
          <label>Correo</label>
          <p class="texto-correo">JuniorAlva@gmail.com</p>
        </div>
        <div class="info-grupo alignment-right">
          <label>Teléfono</label>
          <p>995678473</p>
        </div>
      </div>

      <div class="tarjeta-acciones">
        <button class="btn-card editar ion-activatable">
          EDITAR
          <ion-ripple-effect></ion-ripple-effect>
        </button>
        <button class="btn-card eliminar ion-activatable">
          ELIMINAR
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
    </div>

    <div class="tarjeta-veterinario">
      <div class="tarjeta-header">
        <h3 class="nombre-principal">Dr. Roberto Vega</h3>
        <span class="id-badge">ID: 1</span>
      </div>

      <div class="tag-especialidad">
        <span>Medicina General</span>
      </div>

      <div class="tarjeta-cuerpo">
        <div class="info-grupo">
          <label>Correo</label>
          <p class="texto-correo">rvega@veterinaria.com</p>
        </div>
        <div class="info-grupo alignment-right">
          <label>Teléfono</label>
          <p>999888777</p>
        </div>
      </div>

      <div class="tarjeta-acciones">
        <button class="btn-card editar ion-activatable">
          EDITAR
          <ion-ripple-effect></ion-ripple-effect>
        </button>
        <button class="btn-card eliminar ion-activatable">
          ELIMINAR
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
    </div>

  </div>

</ion-content>