<ion-content [fullscreen]="true" class="ion-padding bg-whatsapp-lista">

  <div class="admin-header">
    <div>
      <h2 class="user-name">Panel Admin</h2>
      <p class="welcome-text">Solicitudes de Consulta</p>
    </div>
    <img src="assets/icon/logo.jpg" alt="Logo" class="mini-logo">
  </div>

  <hr class="divider">

  <div class="listado-section">
    <div class="title-with-icon">
      <ion-icon name="chatbubbles" class="section-icon-chat"></ion-icon>
      <h3 class="section-title">Bandeja de Solicitudes</h3>
    </div>

    <div class="contenedor-chats-whatsapp">

      <div class="item-chat-wp ion-activatable">
        <div class="avatar-chat">
          <span>FP</span>
        </div>
        <div class="contenido-chat">
          <div class="fila-superior">
            <h4 class="nombre-cliente">Franco Pacheco</h4>
            <span class="tiempo-chat nuevo">9:36 PM</span>
          </div>
          <div class="fila-inferior">
            <p class="ultimo-mensaje">🐾 Canela - Motivo: Quimioterapia urgente</p>
            <span class="badge-wp-no-leido">1</span>
          </div>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="item-chat-wp ion-activatable">
        <div class="avatar-chat">
          <span>MT</span>
        </div>
        <div class="contenido-chat">
          <div class="fila-superior">
            <h4 class="nombre-cliente">Maria Torres</h4>
            <span class="tiempo-chat nuevo">7:15 PM</span>
          </div>
          <div class="fila-inferior">
            <p class="ultimo-mensaje">🐱 Toby - Motivo: Control y vacunas anuales</p>
            <span class="badge-wp-no-leido">1</span>
          </div>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

      <div class="item-chat-wp leido ion-activatable">
        <div class="avatar-chat">
          <span>CR</span>
        </div>
        <div class="contenido-chat">
          <div class="fila-superior">
            <h4 class="nombre-cliente">Carlos Rodriguez</h4>
            <span class="tiempo-chat">Ayer</span>
          </div>
          <div class="fila-inferior">
            <p class="ultimo-mensaje">🐶 Firulais - Motivo: Control post-operatorio</p>
            </div>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>

    </div>
  </div>

</ion-content>