<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #ffffff; padding-top: 5px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3" text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Mis Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-blanco ion-padding">

  <div class="titulo-seccion-citas">
    <span class="emoji-calendario">📅</span>
    <h2>Mis Citas</h2>
  </div>

  <div class="contenedor-citas">

    <div class="tarjeta-cita status-atendida">
      
      <div class="cita-header">
        <div class="fecha-tiempo">
          <div class="fila-fecha">
            <span class="emoji-reloj">📅</span>
            <h3>30/11/2025</h3>
          </div>
          <div class="fila-hora">
            <ion-icon name="time-outline"></ion-icon>
            <p>21:30</p>
          </div>
        </div>
        
        <span class="badge-estado atendida">Atendida</span>
      </div>

      <div class="cita-cuerpo">
        <div class="detalle-fila">
          <span class="icono-detalle">🐾</span>
          <span class="label">Mascota:</span>
          <span class="valor">Canela</span>
        </div>

        <div class="detalle-fila">
          <span class="icono-detalle">⚕️</span>
          <span class="label">Veterinario:</span>
          <span class="valor">Dr. Roberto Vega</span>
        </div>

        <div class="detalle-fila">
          <span class="icono-detalle">📋</span>
          <span class="label">Motivo:</span>
          <span class="valor">Quimioterapia</span>
        </div>
      </div>

    </div>

  </div>

</ion-content>