<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #ffffff; padding-top: 5px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1" text="" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding bg-blanco">
  <div class="logo-header ion-text-center">
    <img src="assets/icon/logo.jpg" alt="Logo" class="logo-small">
  </div>

  <div class="title-section">
    <h1 class="page-title">Crear Cuenta</h1>
    <p class="page-subtitle">Completa tus datos para Registrarte</p>
  </div>

  <div class="form-container">
    <ion-item fill="outline" mode="md" class="custom-input">
      <ion-label position="stacked">Nombre Completo</ion-label>
      <ion-input type="text" placeholder="Ej. Juan Pérez" [(ngModel)]="nombreCompleto"></ion-input>
    </ion-item>

    <ion-item fill="outline" mode="md" class="custom-input">
      <ion-label position="stacked">DNI</ion-label>
      <ion-input 
        type="text" 
        inputmode="numeric"
        maxlength="8"
        placeholder="Número de documento (8 dígitos)" 
        [(ngModel)]="dni"
        (ionInput)="filtrarDni($event)">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" mode="md" class="custom-input">
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input 
        type="text" 
        inputmode="numeric"
        maxlength="9"
        placeholder="999 999 999" 
        [(ngModel)]="telefono"
        (ionInput)="filtrarTelefono($event)">
      </ion-input>
    </ion-item>

    <ion-item fill="outline" mode="md" class="custom-input">
      <ion-label position="stacked">Correo Electrónico</ion-label>
      <ion-input type="email" placeholder="correo@ejemplo.com" [(ngModel)]="correo"></ion-input>
    </ion-item>

    <ion-item fill="outline" mode="md" class="custom-input">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" placeholder="********" [(ngModel)]="contrasena"></ion-input>
    </ion-item>

    <ion-item fill="outline" mode="md" class="custom-input">
      <ion-label position="stacked">Confirmar Contraseña</ion-label>
      <ion-input type="password" placeholder="********" [(ngModel)]="confirmarContrasena"></ion-input>
    </ion-item>

    <div class="terms-container">
      <ion-checkbox labelPlacement="end" justify="start" [(ngModel)]="aceptaTerminos">
        <ion-text class="terms-text">Acepto los Términos y Condiciones</ion-text>
      </ion-checkbox>
    </div>

    <div class="button-container ion-text-center">
      <ion-button expand="block" shape="round" color="light" class="btn-create" (click)="registrarCuenta()">
        Crear Cuenta
      </ion-button>
    </div>
  </div>
</ion-content>