<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab5" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="toolbar-user-info">
        <span class="user-name">{{ nombreCliente }}</span>
        <span class="user-status">Cliente de la veterinaria</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="chat-chatbox-content" #miChatContent>
  <div class="messages-container">
    <div *ngFor="let msg of mensajes" 
         [ngClass]="{'msg-row-admin': msg.remitente === 'ADMIN', 'msg-row-client': msg.remitente === 'CLIENTE'}">
      
      <div class="bubble-message">
        <p class="text-body">{{ msg.mensaje }}</p>
        <span class="bubble-time">{{ msg.fecha | date:'HH:mm' }}</span>
      </div>

    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="input-toolbar">
    <ion-item lines="none" class="input-chat-item">
      <ion-textarea [(ngModel)]="nuevoMensaje" 
                    placeholder="Escribe una respuesta..." 
                    [autoGrow]="true"
                    rows="1"
                    (keyup.enter)="enviarMensajeAdmin()"
                    mode="md">
      </ion-textarea>
      <ion-button slot="end" fill="clear" (click)="enviarMensajeAdmin()" [disabled]="!nuevoMensaje || !nuevoMensaje.trim()">
        <ion-icon name="send" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>