<ion-content [fullscreen]="true" class="bg-claro">

  <div class="header-container ion-padding-horizontal">
    <div class="saludo-bloque">
      <h2>Hola {{ nombreUsuario }}</h2>
      <p>Bienvenido de Vuelta!</p>
    </div>
    <div class="logo-bloque">
      <img src="assets/icon/logo.jpg" alt="Logo Veterinaria" class="logo-clinica" />
    </div>
    <div class="avatar-bloque">
      <button class="btn-logout-header" (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </button>
    </div>
  </div>

  <div class="ion-padding-horizontal">
    <ion-searchbar placeholder="Buscar mascotas, citas...." class="buscador-personalizado"></ion-searchbar>
    
    <h3 class="seccion-titulo">Acciones Rápidas</h3>
    
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="6">
          <div class="cuadro-accion ion-activatable" [routerLink]="['/ubicacion']">
            <p>UBICACIÓN</p>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
        
        <ion-col size="6">
          <div class="cuadro-accion ion-activatable" [routerLink]="['/mascotas']">
            <p>MIS MASCOTAS</p>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col size="12">
          <div class="cuadro-accion ion-activatable" [routerLink]="['/historial']">
            <p>HISTORIAL</p>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <h3 class="seccion-titulo">Próximas Citas</h3>

    <!-- 🔄 Contenedor Dinámico para renderizar las citas del Backend -->
    <div *ngIf="proximasCitas.length > 0; else sinCitasPendientes">
      
      <div class="tarjeta-cita" *ngFor="let cita of proximasCitas">
        <div class="bloque-fecha">
          <!-- Separamos dinámicamente Día y Mes -->
          <span class="dia-numero">{{ obtenerDia(cita.fecha) }}</span>
          <span class="mes-texto">{{ obtenerMesAbraviado(cita.fecha) }}</span>
        </div>
        
        <div class="info-cita">
          <h4>{{ cita.mascota }} - {{ cita.motivo }}</h4>
          <p class="detalle-hora">
            <ion-icon name="time-outline"></ion-icon> {{ cita.hora.substring(0, 5) }}
          </p>
          <p class="detalle-doctor">{{ cita.veterinario }}</p>
        </div>
        
        <div class="estado-cita text-pendiente">
          <span>{{ cita.estado }}</span>
        </div>
      </div>

    </div>

    <!-- 📭 Plantilla si no tiene compromisos agendados a futuro -->
    <ng-template #sinCitasPendientes>
      <div class="ion-text-center ion-padding" style="border: 1.5px dashed #cccccc; border-radius: 14px; margin-top: 10px;" *ngIf="!cargando">
        <p style="color: #7f8c8d; font-size: 0.9rem; font-weight: 500; margin: 0;">
          No tienes próximas citas programadas.
        </p>
      </div>
    </ng-template>

  </div>
</ion-content>