<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #ffffff; padding-top: 5px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3" text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-blanco ion-padding">

  <div class="titulo-seccion-perfil">
    <span class="emoji-avatar">👤</span>
    <h2>Mi Perfil</h2>
  </div>

  <div class="tarjeta-perfil">
    
    <div class="perfil-header">
      <span class="emoji-documento">📋</span>
      <h3>Información Personal</h3>
    </div>

    <div class="perfil-cuerpo">
      
      <div class="fila-perfil">
        <span class="label">Nombre Completo:</span>
        <span class="valor">{{ datosPerfil.nombre }}</span>
      </div>

      <div class="fila-perfil">
        <span class="label">DNI:</span>
        <span class="valor">{{ datosPerfil.dni }}</span>
      </div>

      <div class="fila-perfil" *ngIf="datosPerfil.correo">
        <span class="label">Correo:</span>
        <span class="valor-correo">{{ datosPerfil.correo }}</span>
      </div>

      <div class="fila-perfil">
        <span class="label">Teléfono:</span>
        <span class="valor">{{ datosPerfil.telefono }}</span>
      </div>

      <div class="fila-perfil">
        <span class="label">Dirección:</span>
        <span class="valor-direccion">{{ datosPerfil.direccion || 'No especificada' }}</span>
      </div>

    </div>

  </div>

</ion-content>