<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #ffffff; padding-top: 5px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3" text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-blanco ion-padding">

  <div class="titulo-seccion-perfil">
    <span class="emoji-avatar">👤</span>
    <h2>Mi Perfil</h2>
  </div>

  <div class="tarjeta-perfil">
    
    <div class="perfil-header">
      <span class="emoji-documento">📋</span>
      <h3>Información Personal</h3>
    </div>

    <div class="perfil-cuerpo">
      
      <div class="fila-perfil">
        <span class="label">Nombre Completo:</span>
        <span *ngIf="!editando" class="valor">{{ datosPerfil.nombre }}</span>
        <ion-input *ngIf="editando" type="text" [(ngModel)]="datosPerfil.nombre" class="input-editable"></ion-input>
      </div>

      <div class="fila-perfil">
        <span class="label">DNI:</span>
        <span class="valor">{{ datosPerfil.dni }}</span>
      </div>

      <div class="fila-perfil">
        <span class="label">Correo:</span>
        <span *ngIf="!editando" class="valor-correo">{{ datosPerfil.correo || 'No asignado' }}</span>
        <ion-input *ngIf="editando" type="email" [(ngModel)]="datosPerfil.correo" class="input-editable"></ion-input>
      </div>

      <div class="fila-perfil">
        <span class="label">Teléfono:</span>
        <span *ngIf="!editando" class="valor">{{ datosPerfil.telefono }}</span>
        <ion-input *ngIf="editando" type="tel" [(ngModel)]="datosPerfil.telefono" class="input-editable"></ion-input>
      </div>

      <div class="fila-perfil">
        <span class="label">Dirección:</span>
        <span *ngIf="!editando" class="valor-direccion">{{ datosPerfil.direccion || 'No especificada' }}</span>
        <ion-input *ngIf="editando" type="text" [(ngModel)]="datosPerfil.direccion" class="input-editable" placeholder="Ej. Av. Primavera 123"></ion-input>
      </div>

      <div class="fila-perfil" *ngIf="editando">
        <span class="label">Nueva Contraseña:</span>
        <ion-input type="password" [(ngModel)]="nuevaContrasena" placeholder="Dejar en blanco para no cambiar" class="input-editable"></ion-input>
      </div>

    </div>

  </div>

  <div class="ion-text-center ion-padding-top">
    <ion-button *ngIf="!editando" expand="block" shape="round" color="light" (click)="activarEdicion()">
      Editar Datos
    </ion-button>

    <div *ngIf="editando" class="botones-guardar-grupo">
      <ion-button expand="block" shape="round" color="success" (click)="guardarCambiosPerfil()">
        Guardar Cambios
      </ion-button>
      <ion-button expand="block" shape="round" fill="outline" color="danger" (click)="cancelarEdicion()">
        Cancelar
      </ion-button>
    </div>
  </div>

</ion-content>