<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #ffffff; padding-top: 5px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3" text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo-header">Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-blanco ion-padding">

  <div class="titulo-seccion-perfil">
    <span class="emoji-avatar">👤</span>
    <h2>Mi Perfil</h2>
  </div>

  <div class="tarjeta-perfil">
    
    <div class="perfil-header">
      <span class="emoji-documento">📋</span>
      <h3>Información Personal</h3>
    </div>

    <div class="perfil-cuerpo">
      
      <div class="fila-perfil">
        <span class="label">Nombre:</span>
        <span class="valor">Franco Mariano</span>
      </div>

      <div class="fila-perfil">
        <span class="label">Apellido:</span>
        <span class="valor">Pacheco</span>
      </div>

      <div class="fila-perfil">
        <span class="label">DNI:</span>
        <span class="valor">75085925</span>
      </div>

      <div class="fila-perfil">
        <span class="label">Correo:</span>
        <span class="valor-correo">fpachecop@ucvvirtual.edu.pe</span>
      </div>

      <div class="fila-perfil">
        <span class="label">Teléfono:</span>
        <span class="valor">978475665</span>
      </div>

      <div class="fila-perfil">
        <span class="label">Dirección:</span>
        <span class="valor-direccion">mzd1 lt1 urb. virgen del rosario</span>
      </div>

      <div class="fila-perfil">
        <span class="label">Miembro desde:</span>
        <span class="valor">27/11/2025</span>
      </div>

    </div>

  </div>

</ion-content>