<ion-header class="ion-no-border">
  <ion-toolbar style="--background: #ffffff; padding-top: 5px;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4" text="" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="admin-header">
    <div>
      <h2 class="user-name">Hola Admin</h2>
      <p class="welcome-text">¡Bienvenido de Vuelta!</p>
    </div>
    <img src="assets/icon/logo.jpg" alt="Logo" class="mini-logo">
  </div>

  <hr class="divider">

  <div class="listado-section">
    <div class="title-with-icon">
      <ion-icon name="calendar" class="section-icon"></ion-icon>
      <h3 class="section-title">Listado de Citas</h3>
    </div>

    <div class="action-container">
      <button class="btn-agregar-cita-moderno ion-activatable" [routerLink]="['agregar-cita']">
        <ion-icon name="add-circle-outline"></ion-icon>
        AGREGAR CITA
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>

    <div class="contenedor-tarjetas">

      <div class="tarjeta-cita" *ngFor="let c of citas">
        <div class="tarjeta-main-content">
          <h3 class="nombre-mascota">{{ c.mascota }}</h3>
          <p class="txt-dueno"><strong>Dueño:</strong> {{ c.dueno }}</p>

          <div class="bloque-horario">
            <h2>{{ c.fecha | date:'yyyy-MM-dd':'UTC' }} | {{ c.hora.substring(0, 5) }}</h2>
          </div>

          <div class="badge-estado" [ngClass]="c.estado?.toLowerCase()">
            <span>{{ c.estado | uppercase }}</span>
          </div>
        </div>

        <div class="detalles-sub-box">
          <p><strong>Veterinario:</strong> {{ c.veterinario }}</p>
          <p><strong>Motivo:</strong> {{ c.motivo }}</p>
        </div>

        <div class="tarjeta-acciones">
          <button class="btn-card editar ion-activatable">
            EDITAR
            <ion-ripple-effect></ion-ripple-effect>
          </button>
          <button class="btn-card eliminar ion-activatable">
            ELIMINAR
            <ion-ripple-effect></ion-ripple-effect>
          </button>
        </div>
      </div>

      <div *ngIf="citas.length === 0" style="text-align: center; padding: 20px; color: #777;">
        No hay citas registradas en el sistema.
      </div>

    </div>
  </div>

</ion-content>